PORT=4000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/promotr
REDIS_URL=redis://localhost:6379

# MSG91 OTP API credentials
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
MSG91_SENDER_ID=
MSG91_OTP_EXPIRY_MINUTES=1
