<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Organisation"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileIntroActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BasicInformationActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".KYCActivity"
            android:exported="false" />
        <activity
            android:name=".AddPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CreateJobActivity"
            android:exported="false" />
        <activity
            android:name=".CrewRequirementsActivity"
            android:exported="false" />
        <activity
            android:name=".SetPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ApplicantsActivity"
            android:exported="false" />
        <activity
            android:name=".EventDayActivity"
            android:exported="false" />
        <activity
            android:name=".SpendingActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
    </application>

</manifest>